// Containers

// Sidebar

.sidebar {
  position: fixed;
  overflow: hidden;
  height: 100vh;
  width: 20%;
  background: $mine-shaft;
  padding: 5%;
}

.sidebar-header {
  @extend %flex-center-col-left;
}

.main-title {
  @extend %flex-center-row-left;
  width: 100%;
}

.sidebar-nav {
  @extend %flex-center-col-left;
  margin: 20% 0;
  & a {
    padding-bottom: 10%;
  }
}

.social {
  @extend %flex-center-row-left;
  max-height: 50px;
}

// Welcome

.welcome {
  @extend %flex-center-row;
  height: 100vh;
  & h1 {
    margin: 0;
  }
}

.welcome, .skills, .portfolio {
  margin-left: 20%;
}

.skills, .portfolio {
  padding: 10% 15%;
}

// Skills

.skills-sub {
  border-bottom: 2px solid $mine-shaft;
  max-width: 864px;
  margin-bottom: 80px;
  & p {
    margin: 20px 0;
  }
  &:first-child p {
    margin-top: 60px;
  }
}

.skills-sub_title {
  @extend %flex-center-row-left;
  align-items: flex-end;
  & h1 {
    margin: 0;
  }
  & svg {
    width: 48px;
  }
  & h2 {
    margin: 0 0 0 10px;
    height: 39px;
  }
}

// Portfolio

.portfolio {
  & h2 {
    margin: 20px auto 0;
  }
}

.portfolio-sub:first-child {
  margin-bottom: 80px;
}

.portfolio-sub:not(:first-child) {
  margin-bottom: 160px;
}

.portfolio-sub_title {
  @extend %flex-center-col-left;
  & h1 {
    margin: 0;
  }
}

.portfolio-btn_wrapper {
  margin: 0 auto;
}

.btn {
  background-color: $mine-shaft;
  color: $alto;
  text-transform: uppercase;
  outline: 0;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  margin: 0 5px;
}

.btn:hover {
  background-color: $golden-dream;
  color: $mine-shaft;
  transition: 0.3s;
}