// Containers

.mobile-nav, .sidebar {
  background: $mine-shaft;
}

.mobile-nav-header {
  @extend %flex-center-col-left;
  max-width: 320px;
  margin: 0 auto;
}

.mobile-nav-main-title {
  @extend %flex-center-row;
  width: 100%;
}

.mobile-nav-nav {
  @extend %flex-center-col;
  max-width: 320px;
  margin: 80px auto;
  & a {
    padding-bottom: 5%;
  }
}

.mobile-nav-social {
  @extend %flex-center-row;
  margin: 0 auto;
}

// Mobile Nav

.mobile-nav {
  display: block;
  @include mq(medium) {
    display: none;
  }
  height: auto;
  width: 100%;
  padding: 80px 0;
}

// Sidebar

.sidebar {
  display: none;
  @include mq(medium) {
    display: block;
  }
  position: fixed;
  overflow: hidden;
  height: 100vh;
  width: 260px;
  padding: 40px;
}

.sidebar-header {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #606060;
  padding-bottom: 40px;
}

.main-title {
  display: flex;
  justify-content: center;
  width: 100%;
}

.sidebar-nav {
  @extend %flex-center-col-left;
  max-width: 120px;
  margin: 40px auto;
  & a:not(:last-child) {
    padding-bottom: 20px;
  }
}

.sidebar-nav_link {
  display: flex;
  flex-direction: row;
}

.sidebar-nav_link:not(:last-child) {
  margin-bottom: 20px;
}

.nav-link {
  width: 18px;
  height: auto;
  margin-right: 10px;
}

.social {
  display: flex;
  justify-content: center;
  border-top: 1px solid #606060;
  width: auto;
  height: auto;
  padding-top: 40px;
  margin: 0 auto;
}

.copyright {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 180px;
  margin-bottom: 40px;
  & .null {
    flex: 1 0 auto;
  }
  & p {
    flex-shrink: 0;
    margin: 0;
  }
}

// Welcome

.welcome {
  background: url(../../../components/img/seattle.jpg) no-repeat 75% 40%;
  background-color: $marine;
  background-blend-mode: screen;
  @extend %flex-center-col;
  height: 100vh;
  & h1 {
    margin: 0;
  }
}

.welcome {
  padding: 15%;
}

.welcome, .skills, .portfolio, .alpha-ai {
  @include mq(medium) {
    margin-left: 260px;
  }
}

.skills, .portfolio {
  padding: 10% 15%;
}

.skills-title, .portfolio-title {
  max-width: 600px;
  margin: 0 auto 80px;
  & h1 {
    margin: 0;
    border-bottom: 2px solid $mine-shaft;
  }
}

// Skills

.skills {
  background: url(../../../components/img/computer.jpg) no-repeat center/cover;
}

.skills-sub {
  max-width: 600px;
  margin: 0 auto;
  &:first-child p {
    margin-top: 60px;
  }
}

.skills-p {
  border-top: 2px solid $mine-shaft;
  max-width: 600px;
  padding-top: 20px;
  margin: 0 auto 80px;
}

.skills-sub_title {
  @extend %flex-center-row-left;
  align-items: flex-end;
  padding-bottom: 20px;
  & h1:first-child {
    border-bottom: 2px solid $mine-shaft;
    width: 100%;
    margin: 0;
  }
  & svg {
    width: 48px;
  }
  & h2 {
    margin: 0;
    @include mq(small) {
      margin-left: 10px;
    }
    height: 39px;
  }
}

// Portfolio

.portfolio {
  & h2 {
    margin: 20px auto 0;
  }
}

.portfolio-sub {
  max-width: 600px;
}

.portfolio-sub:first-child {
  margin: 0 auto 80px;
}

.portfolio-sub:not(:first-child) {
  margin: 0 auto 160px;
}

.portfolio-sub_title {
  @extend %flex-center-col-left;
  & h1 {
    width: 100%;
    margin: 0;
  }
}

.portfolio-btn_wrapper {
  padding-top: 10px;
  margin: 0 auto;
}

.btn {
  background-color: $mine-shaft;
  color: $alto;
  outline: 0;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  margin: 0 5px;
}

.btn:hover {
  background-color: $golden-dream;
  color: $mine-shaft;
  transition: 0.3s;
}

// AlphaAI landing page

.alpha-ai {
  width: fit-content;
  height: auto;
}