// Containers

.mobile-nav, .sidebar {
  background: $mine-shaft;
}

.mobile-nav-header {
  @extend %flex-center-col-left;
  max-width: 320px;
  margin: 0 auto;
}

.mobile-nav-main-title {
  @extend %flex-center-row;
  width: 100%;
}

.mobile-nav-nav {
  @extend %flex-center-col;
  max-width: 320px;
  margin: 80px auto;
  & a {
    padding-bottom: 5%;
  }
}

.mobile-nav-social {
  @extend %flex-center-row;
  max-height: 50px;
  margin: 0 auto;
}

// Mobile Nav

.mobile-nav {
  display: block;
  @include mq(medium) {
    display: none;
  }
  height: auto;
  width: 100%;
  padding: 5% 0;
}

// Sidebar

.sidebar {
  display: none;
  @include mq(medium) {
    display: block;
  }
  position: fixed;
  overflow: hidden;
  height: 100vh;
  width: 20%;
  padding: 3%;
}

.sidebar-header {
  @extend %flex-center-col-left;
}

.main-title {
  @extend %flex-center-row-left;
  width: 100%;
}

.sidebar-nav {
  @extend %flex-center-col-left;
  margin: 20% 0;
  & a {
    padding-bottom: 10%;
  }
}

.social {
  @extend %flex-center-row-left;
  max-height: 50px;
}

// Welcome

.welcome {
  @extend %flex-center-row;
  height: 100vh;
  & h1 {
    margin: 0;
  }
}

.welcome, .skills, .portfolio {
  @include mq(medium) {
    margin-left: 20%;
  }
}

.skills, .portfolio {
  padding: 10% 15%;
}

.skills-title, .portfolio-title {
  max-width: 864px;
  margin: 0 auto 80px;
  & h1 {
    margin: 0;
    border-bottom: 2px solid $mine-shaft;
  }
}

// Skills

.skills-sub {
  max-width: 864px;
  margin: 0 auto;
  &:first-child p {
    margin-top: 60px;
  }
}

.skills-p {
  border-top: 2px solid $mine-shaft;
  max-width: 864px;
  padding-top: 20px;
  margin: 0 auto 80px;
}

.skills-sub_title {
  @extend %flex-center-row-left;
  align-items: flex-end;
  padding-bottom: 20px;
  & h1:first-child {
    border-bottom: 2px solid $mine-shaft;
    width: 100%;
    margin: 0;
  }
  & svg {
    width: 48px;
  }
  & h2 {
    margin: 0;
    @include mq(small) {
      margin-left: 10px;
    }
    height: 39px;
  }
}

// Portfolio

.portfolio {
  & h2 {
    margin: 20px auto 0;
  }
}

.portfolio-sub {
  max-width: 864px;
}

.portfolio-sub:first-child {
  margin: 0 auto 80px;
}

.portfolio-sub:not(:first-child) {
  margin: 0 auto 160px;
}

.portfolio-sub_title {
  @extend %flex-center-col-left;
  & h1 {
    width: 100%;
    margin: 0;
  }
}

.portfolio-btn_wrapper {
  margin: 0 auto;
}

.btn {
  background-color: $mine-shaft;
  color: $alto;
  text-transform: uppercase;
  outline: 0;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  margin: 0 5px;
}

.btn:hover {
  background-color: $golden-dream;
  color: $mine-shaft;
  transition: 0.3s;
}