// Images

// Mobile

.mobile-nav-profile-img {
  width: 260px;
  height: auto;
  border-radius: 50%;
  margin: 0 auto;
}

.mobile-nav-main-title img {
  width: 60px;
  height: auto;
  margin-right: 2%;
}

// Desktop

.profile-img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.main-title img {
  width: 17%;
  height: auto;
  margin-right: 5%;
}

// Social

.mobile-nav-social a:not(:first-child),
.social a:not(:first-child) {
  margin-left: 10px;
}

.nav-link,
.social a {
  fill: $alto;
  & :hover {
    fill: $golden-dream;
  }
}

.sidebar-nav_link:hover a {
  color: $golden-dream;
  transition: 0.3s;
}
.sidebar-nav_link:hover svg {
  fill: $golden-dream;
  transition: 0.3s;
}

// Skills

.skills-icon {
  display: none;
  @include mq(small) {
    display: block;
  }
  fill: $mine-shaft;
}

// Portfolio

.portfolio img {
  width: 600px;
  height: auto;
  margin: 16px 0 0 0;
}

.stack-img {
  width: auto;
  max-height: 27.98px;
}

.github, .linkedin, .twitter {
  width: 30px;
  height: auto;
}

.coffee {
  fill: $golden-dream;
  font-size: 1.6rem;
  margin-left: 5px;
}
