// Typography

.mobile-nav, .sidebar {
    font-family: $font-family--primary;
  & h1 {
    font-weight: 400;
  }
  & a, p {
    font-weight: 400;
    display: flex;
    align-items: center;
  }
  & a {
    color: $alto;
  }
  & p {
    color: $golden-dream;
    margin: 0 auto;
  }
}

.mobile-nav, .sidebar-nav {
  & a {
    font-size: 1.3em;
    @include mq(medium) {
    font-size: 1.1em
    }
  }
}
.copyright p {
  font-size: 1em;
}

.sidebar a:hover,
.mobile-nav a:hover {
  color: $golden-dream;
  transition: 0.3s;
}

.mobile-nav-main-title,
.main-title {
  & h1 {
    color: $golden-dream;
  }
}

.welcome, .skills, .portfolio, .btn {
  font-family: $font-family--primary;
}

.welcome, .skills, .portfolio {
  line-height: 1.5;
}

.welcome {
  @extend %flex-center-col;
  & h1 {
    color: $mine-shaft;
    font-size: 2em;
    font-weight: 900;
    @include mq(medium) {
      font-size: 4em;
      line-height: 1.2;
    }
  }
  & h2 {
    display: none;
    @include mq(medium) {
      display: flex;
      font-size: 1.2em;
      font-weight: 400;
      margin: 20px 0 0 0;
    }
  }
  .welcome-link {
    color: $mine-shaft;
    text-decoration: underline;
  }
}

.skills, .portfolio {
  color: $mine-shaft;
  & h1 {
    font-size: 3em;
    font-weight: 700;
    padding-bottom: 20px;
    text-align: center;
    @include mq(medium) {
      text-align: left;
    }
  }
  & h2 {
    font-weight: 700;
    @include mq(small) {
      font-size: 1.8em;
    }
    @include mq(medium) {
      font-size: 2em;
    }
  }
  & p {
    font-size: 1em;
    font-weight: 400;
  }
}

.skills h2 {
  font-size: 6vw;
}

.portfolio h2 {
  font-size: 8vw;
  @include mq(small) {
    font-size: 1.8em;
  }
  @include mq(medium) {
    font-size: 2em;
  }
}

.skills h2 {
  @include mq(medium) {
    font-size: 2em;
  }
}