// Typography

.mobile-nav, .sidebar {
    font-family: $font-family--primary;
  & h1 {
    font-weight: 400;
  }
  & a {
    color: $alto;
    font-size: 1.4em;
    font-weight: 400;
    @include mq(medium) {
      font-size: 1.1em;
    }
  }
}

.sidebar a:hover,
.mobile-nav a:hover {
  color: $golden-dream;
  transition: 0.3s;
}

.mobile-nav-main-title,
.main-title {
  & h1 {
    color: $alto;
  }
}

.mobile-nav-main-title h1 {
  font-size: 1.8em;
}

.main-title h1 {
  font-size: 1.1em;
}

.welcome, .skills, .portfolio, .btn {
  font-family: $font-family--secondary;
}

.skills, .portfolio {
  line-height: 1.5;
}

.welcome {
  & h1 {
    @extend %flex-center-row;
    color: $mine-shaft;
    font-size: 5vw;
    font-weight: 700;
  }
}

.skills, .portfolio {
  color: $mine-shaft;
  & h1 {
    font-size: 3em;
    font-weight: 700;
    padding-bottom: 20px;
  }
  & h2 {
    font-size: 6vw;
    @include mq(small) {
      font-size: 2em;
    }
    font-weight: 700;
  }
  & p {
    font-size: 1.15em;
    font-weight: 400;
  }
}