// Extends

// Flexbox 'row' 'center'
%flex-center-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

// Flexbox 'row' 'left'
%flex-center-row-left {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

// Flexbox 'column' 'left'
%flex-center-col-left {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
}